<div class="auth-page-wrapper auth-bg-cover d-flex justify-content-center align-items-center min-vh-100">
    <div class="bg-overlay"></div>
    <div class="auth-page-content overflow-hidden pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card overflow-hidden">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4 auth-one-bg h-100">
                                    <div class="bg-overlay"></div>
                                    <div class="position-relative h-100 d-flex flex-column">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-lg-5 p-4 d-flex justify-content-center">
                                    <div style="max-width: 400px; width: 100%;">
                                        <div class="text-center mb-4">
                                            <a routerLink="/" class="d-block">
                                                <img [src]="tenantConfigService.getLogo()" alt="" height="50">
                                            </a>
                                        </div>
                                        <div class="text-center">
                                            <h5 class="text-primary">Welcome Back!</h5>
                                            <p class="text-muted">Sign in to continue to <b>{{
                                                    tenantConfigService.getCompanyName() }}</b>.</p>
                                        </div>

                                        <div class="mt-2">
                                            <ngb-alert class="mb-1" [dismissible]="false" type="danger" *ngIf="error">
                                                <strong>{{error}}</strong>
                                            </ngb-alert>
                                            <!-- "Not You?" functionality -->
                                            <div
                                                *ngIf="userLoginData && userLoginData.userLoginName">
                                                <div class="alert alert-success" role="alert">
                                                    Logged in as <strong>{{ userLoginData.userName }}</strong>.
                                                    <button type="button" class="btn btn-link p-0 text-danger"
                                                        (click)="onNotYouClick()"><b>Not You?</b></button>
                                                </div>
                                            </div>

                                            <form class="form-horizontal mt-2" [formGroup]="loginForm"
                                                (ngSubmit)="onAdminSubmit()" autocomplete="off">
                                                <ng-container *ngIf="!userLoginData">
                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-user-2-line auti-custom-input-icon"></i>
                                                        <label for="email">Email</label>
                                                        <input #email type="email" formControlName="email"
                                                            class="form-control" id="email"
                                                            [disabled]="isUserRemembered" placeholder="Enter Email"
                                                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                                        <div *ngIf="submitted && f.email.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.email.errors.required">Email is required</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group auth-form-group-custom mb-4">
                                                        <i class="ri-id-card-line auti-custom-input-icon"></i>
                                                        <label for="itsNumber">ITS Number</label>
                                                        <input #itsNumber type="text" formControlName="itsNumber"
                                                            class="form-control" id="itsNumber"
                                                            [disabled]="isUserRemembered" placeholder="Enter ITS Number"
                                                            [ngClass]="{ 'is-invalid': submitted && f.itsNumber.errors }">
                                                        <div *ngIf="submitted && f.itsNumber.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.itsNumber.errors.required">ITS Number is required</div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                                <div class="form-group auth-form-group-custom mb-4">
                                                    <i class="ri-lock-2-line auti-custom-input-icon"></i>
                                                    <label for="password">Password</label>
                                                    <input #password type="password" formControlName="password"
                                                        class="form-control" id="password" placeholder="Enter Password"
                                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                                    <div *ngIf="submitted && f.password.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.password.errors.required">Password is required
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- <div class="d-flex justify-content-end mt-2 mb-2">
                                                    <a routerLink="/account/forget-password" class="text-muted">Forgot
                                                        password?</a>
                                                </div> -->
                                                <div class="mt-2">
                                                    <button type="submit"
                                                        class="btn btn-success btn-load btn-label w-100">
                                                        <i
                                                            class="ri-login-box-line label-icon align-middle fs-16 mr-2"></i>
                                                        <ng-container *ngIf="!isBtnLoading">Sign In</ng-container>
                                                        <ng-container *ngIf="isBtnLoading">
                                                            <span class="indicator-progress">
                                                                Please wait...
                                                                <span
                                                                    class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                                            </span>
                                                        </ng-container>
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>